/* material design icons */

  /*navbar*/
  .navbar{
    width:100%;
    height:56px;
    position:fixed;
    top:0;
    background-color:#ab47bc;
    /*flexbox*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #more {
    color: white;
    position: fixed;
    left: 2%;
  }

  #conta {
   color: white;
   position: fixed;
   right: 2%;
  }

  #logo-branca {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }