/* material design icons */

  /*navbar*/
  .navbar{
    width:100%;
    height:56px;
    position:fixed;
    top:0;
    background-color:#ab47bc;
    /*flexbox*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #more {
    position: fixed;
    left: 2%;
  }

  #conta {
   position: fixed;
   right: 2%;
  }

  #logo-branca {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/*pesquisa*/
 .pesquisar{
  margin-top: 12%;
 }

.search-gif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
}    

.searchTerm {
  float: left;
  width: 100%;
  border: 2px solid #1abc9c;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  
}

.searchButton {
  position: absolute;  
  width: 38px;
  height: 34px;
  border: 1px solid #1abc9c;
  background: #1abc9c;
  text-align: center;
  margin-top: 40px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}



 #lupa{
    width:60%;
 }