/* material design icons */

  /*navbar*/
  .navbar{
    width:100%;
    height:56px;
    position:fixed;
    top:0;
    background-color:#ab47bc;
    /*flexbox*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #more {
    position: fixed;
    left: 2%;
  }

  #conta {
   position: fixed;
   right: 2%;
  }

  #logo-branca {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/*pesquisa*/
 .pesquisar{
  margin-top: 12%;
 }

.search-gif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type=text] {
  width: 200px;
  padding: 8px;
  margin-top: 8px;
  font-size: 15px;
  border: 1px solid #1abc9c;
  font-family:'Roboto', Arial, sans-serif;
}

 .search-container button {
  float: right;
  padding: 4px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #1abc9c;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


 #lupa{
    width:60%;
 }

.navbar #myMenu {
  display: none;
  width:100%;
  height:80px;
  position:fixed;
  top:54px;
  background-color:#ab47bc;
}
